<nav>
    <ul>
        <li><a href="home">Inicio</a></li>
        <li><a href="#">Catálogo</a></li>
        <li><a href="usuario">Tu colección</a></li>
        <li><a href="contacto">Contacto</a></li>
    </ul>
</nav>